## Input files
input.sequences = fluA.fa
input.tree = fluA-rooted.nxs

## Output file
output.stem = fluA

## substitution model
substmodel.type = HKY # HKY, GTR, GY94...

## gamma distribution of rate across sites. Discretised 4 categories
sitemodel.heterogeneity.gamma.cat = 4
sitemodel.heterogeneity.gamma.alpha = 0.5 #initial value


## Dating
clock = discrete
clock.rate = -1 #0.003 # -1 if no idea
clock.forward = true #latest sequence is from 1998

## GA
ga.popsize = 30
ga.ngen = 500
ga.maxnoimprovement = 50

nthreads = 10 # used in greedy and GA algorithms

