## Input files
input.sequences = fluB.fa
input.tree = fluB-rooted.nxs

## Output file
output.stem = fluB


## substitution model
substmodel.type = GTR
substmodel.heterogeneity = gamma

# Rate heterogeneity among sites
substmodel.heterogeneity.gamma.cat = 4
substmodel.heterogeneity.gamma.alpha = 0.5

## Strict clock
clock = strict
